<section class="card" id="detail">
  <header>
    <div class="button back">
      <p>返回</p>
      <div><span></span></div>
    </div>
    <h2>员工详情</h2>
    <div style="width:70px;"></div>
  </header>
  <article id="detailPanel">
    <div>
    <img id="staffPhoto" />
    <ul id="staffDetail">
        <li>
          <label>姓名</label>
          <span></span>
        </li>
        <li>
          <label>分机号</label>
          <span></span>
        </li>
        <li>
          <label>Email</label>
          <span></span>
        </li>
        <li>
          <label>部门</label>
          <span></span>
        </li>
        <li>
          <label>职位</label>
          <span></span>
        </li>
        <li>
          <label>工号</label>
          <span></span>
        </li>
    </ul>
    </div>
  </article>
</section>