<section class="card" id="list">
  <header>
    <!--<div  class="button" id="rebuildDb">重建</div>-->
    <div style="width:70px;"></div>
    <h2>八焦</h2>
    <div class="button" id="about"><p>关于</p>
    </div>
  </header>
  <article>
    <div id="staffListWrapper">
      <ul id="staffList">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <%= render 'letter_ime' %>
  </article>
</section>