<div class="popMask" style="display:none">
  <div id="progressPop" class="pop">
    <header>写入数据中...</header>
    <div id="progressBar">
      <div id="progressText"></div>
      <div id="progressPercent"></div>
    </div>
  </div>
</div>