<!DOCTYPE html>
<html>
<head>
  <title>八焦</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0;">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="apple-touch-icon" sizes="77x77" href="/images/logo.png" />
  <link rel="apple-touch-startup-image" href="/images/startup.png">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <%= stylesheet_link_tag "app.css" %>
</head>
<body>
<%= yield %>
</body>
</html>
